<html>
    <body>
        <h2>Course Enrolment form for students</h2>
        <form method = "post" action = "">
            {% csrf_token %}

            Student name : &emsp;
            <select name = 'sname' required>
                <option value=""> Select a Student</option>
                {% for student in students %}
                    <option value = {{student.id}}>{{student.student_name}}</option>
                {% endfor %}
            </select><br><br>
            Course name :&emsp;
            <select name = 'cname' required>
                <option value=""> Select a Course</option>
                {% for course in courses %}
                    <option value = {{course.id}}>{{course.course_name}}</option>
                {% endfor %}
            </select><br><br><br>

            <input type = "submit" value="Enroll"/>
    </form>
</body>
</html>